[2021-02-18 03:32] namtranx07 commented on #480
I had the same problem. Please fix that

[2021-02-18 03:35] singerdmx commented on #480
Is it mobile or web

[2021-02-18 03:35] tantai240495 commented on #480
The same issue goes here, mine is on Android.
Device: Redmi K20 Pro (Android 10)
Any suggestion for this?

[2021-02-18 03:36] singerdmx commented on #480
Is it similar to https://github.com/memspace/zefyr/issues/478

[2021-02-18 03:39] nnkti18 commented on #480
Mobile (both Android and iOS), I haven't tested this on web because I have no intention of developing my app on web.

No, I don't think it is

[2021-02-18 03:43] singerdmx commented on #480
Is it only for non-English character?

[2021-02-18 03:47] nnkti18 commented on #480
my demo contains only English characters and the keyboard that I used was iOS English default keyboard.

[2021-02-18 03:49] harrylefit commented on #480
I also encountered this issue as well. :(

[2021-02-19 01:57] singerdmx commented on #480
are you using dev branch or master?

[2021-02-19 01:58] singerdmx commented on #480
Oh, it is dev branch.
Hmm ... weird, I don't have this issue on https://pub.dev/packages/flutter_quill

[2021-02-19 02:22] nnkti18 commented on #480
Thanks, I'll have a look at https://pub.dev/packages/flutter_quill.
Btw, I have just created a gif that demonstrate this bug on Zefyr's original example. I edited the content of welcome.note to
`[{"insert":"\n"}]`

![bug_example](https://user-images.githubusercontent.com/27147322/108448289-ffa9a900-7293-11eb-8af2-fef00b79f740.gif)

[2021-02-19 02:25] singerdmx commented on #480
Ahh I see
Same issue here
Let me take a look

[2021-02-19 02:33] singerdmx commented on #480
Wait, I can no longer repro it using [flutter-quill](https://pub.dev/packages/flutter_quill)
I seem to be able to repro it the very first time, but never again.
Is it a consistent repro for you?

[2021-02-19 02:34] singerdmx commented on #480
Even if it occurs, you can use `cut`, right?

[2021-02-19 02:43] nnkti18 commented on #480
Yes, you can reproduce it for the first time only. Restart the app to do it again.

Cutting is not possible because when I try to long-press the text selection it deselects the current selection (of course I can select the text after the text deselection but cutting and copying are not working on 1.0-dev at the moment). However, when it
 occurs, I can enter any character to replace the text (delet

[2021-02-19 02:46] singerdmx commented on #480
I tried restart but cannot repro.
How did you restart?

[2021-02-19 02:48] nnkti18 commented on #480
Well, I just use Flutter Hot Restart.

[2021-02-19 02:49] singerdmx commented on #480
I tried both using ide and on the phone killing the app

[2021-02-19 03:19] nnkti18 commented on #480
I tried flutter-quill and I can reproduce it consistently using Flutter Hot restart.

[2021-02-19 03:23] singerdmx commented on #480
I was using a real phone, let me try using emulator

[2021-02-19 04:04] nnkti18 commented on #480
You can make a startup screen that navigates to a new screen that has ZefyrEditor, doing so will not require you to restart every time. Just pop and navigate to that screen again

[2021-02-19 04:07] singerdmx commented on #480
man I cannot repro on https://pub.dev/packages/flutter_quill
I will ask my teammate to try

[2021-02-19 04:22] nnkti18 commented on #480
I run flutter_quill on the master channel.
I edited the sample_data.json like this.
`[
   {
      "insert": "\n"
   }
]`

Here is the result
![bug_quill](https://user-images.githubusercontent.com/27147322/108457203-b44bc680-72a4-11eb-921c-922d8f8f0471.gif)

[2021-02-19 04:44] li3317 commented on #480
Hi I tried looking into this issue as well (using https://pub.dev/packages/flutter_quill), looks like I couldn't repro the bug using a real phone.

[2021-02-19 04:53] singerdmx commented on #480
@nnkti18 have you tried using a real phone? Maybe it is an issue with emulator

[2021-02-19 06:30] nnkti18 commented on #480
I reproduced it on a K20 Pro (running Android 10).
A new thing I noticed is that when I try to remove the last character, this log appears
`E/SpannableStringBuilder(30285): SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length
E/SpannableStringBuilder(30285): SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a zero length
E/SpannableStringBuilder(30285): SPAN_EXCLUSIVE_EXCLUSIVE spans cannot have a ze

[2021-02-19 06:33] singerdmx commented on #480
![image](https://user-images.githubusercontent.com/122956/108466864-2c7ca280-7239-11eb-9cb7-7613cff15d4f.png)

I have no hit searching it

https://stackoverflow.com/questions/13670374/android-span-exclusive-exclusive-spans-cannot-have-a-zero-length

It seems it is Android OS issue

[2021-02-19 06:34] singerdmx commented on #480
![image](https://user-images.githubusercontent.com/122956/108467022-69e13000-7239-11eb-9934-cc6b13eede11.png)

[2021-02-19 06:52] nnkti18 commented on #480
It also reproducible on a real iOS device
![bug_ios](https://user-images.githubusercontent.com/27147322/108468687-b1a79c00-72b9-11eb-997a-3c58d6a76dfd.gif)

[2021-02-20 08:04] MaheshManoharan opened #486 "set hint text in zefyr"
How to set hint text zefyr, I already put the question in Reddit and StackOverflow. but no one answers.  So tell me please

[2021-02-20 08:08] singerdmx commented on #486
Do you mean placeholder, similar to https://github.com/singerdmx/flutter-quill/issues/11 ?

[2021-02-20 08:09] singerdmx commented on #486
Can you share Reddit and StackOverflow links?

[2021-02-20 09:54] singerdmx commented on #486
@MaheshManoharan I have a [change](https://github.com/singerdmx/flutter-quill/pull/34) that gets most working. Needs final touch

[2021-02-20 11:03] MaheshManoharan commented on #486
https://www.reddit.com/r/FlutterDev/comments/lo04xy/zefyr_editor_in_flutter/
https://stackoverflow.com/questions/66289273/how-to-set-hint-text-in-zefyr-in-flutter
here is the links

[2021-02-20 11:07] MaheshManoharan commented on #486
yes...just like placeholder... users need to know what to do in that textfield.  I don't know how to do it in zefyrEditor please help me.

[2021-02-20 11:22] MaheshManoharan commented on #486
@singerdmx I know you did something, just like passing placeholder. But as a beginner in programming and github I don't know what to do now. Could you please say What I want to do now to get placeholder or hint text functionality?

[2021-02-20 15:52] AldanisVigo commented on #484
[✓] Flutter (Channel master, 1.27.0-2.0.pre.72, on macOS 11.2 20D64 darwin-x64,
    locale en-US)
    • Flutter version 1.27.0-2.0.pre.72 at
      /Users/aldanisvigo/Documents/Programming/flutter
    • Framework revision ba5e237e24 (9 days ago), 2021-02-11 14:11:15 -0800
    • Engine revision cdc49c575b
    • Dart version 2.13.0 (build 2.13.0-25.0.dev)

[✓] Android toolchain - develop for Android

[2021-02-20 15:54] rish07 commented on #484
@AldanisVigo Are you still facing the issue? After pulling the latest master code?

[2021-02-20 15:54] AldanisVigo commented on #484
I am about to test it out be back in a second.

[2021-02-20 15:58] AldanisVigo commented on #484
git: Your branch is up to date with 'origin/master'.
Successfully switched to flutter channel 'master'.
To ensure that you're on the latest build from this channel, run 'flutter upgrade'
aldanisvigo@Aldaniss-MBP ReportWriter % flutter run -d chrome
Launching lib/main.dart on Chrome in debug mode...
../flutter/.pub-cache/hosted/pub.dartlang.org/zefyr-0.12.0/lib/src/widgets/selection.dart:39:7:
Erro

[2021-02-20 15:59] AldanisVigo commented on #484
Am I supposed to do flutter channel master first, then flutter upgrade? Or does it pull the latest master code?

[2021-02-20 16:32] rish07 commented on #484
`flutter channel master`
`flutter upgrade`

Are you using this as a pub package or directly from git repo? @AldanisVigo

[2021-02-20 16:42] AldanisVigo commented on #484
No I am not, just using it in pubspec.yaml. Will figure out how to add it directly from GitHub. That's probably my issue.

[2021-02-20 16:43] AldanisVigo commented on #484
I just do something like this in pubspec.yaml?    url: https://github.com/repo/address/here ??

[2021-02-20 16:49] rish07 commented on #484
[https://stackoverflow.com/questions/54022704/how-to-add-a-package-from-github-in-flutter](https://stackoverflow.com/questions/54022704/how-to-add-a-package-from-github-in-flutter)

Check this and use the master branch. The error you are getting might be because we haven't pushed the final code to production.

[2021-02-20 16:55] AldanisVigo commented on #484
Yeah I added this to pubspec.yaml:

zefyr:
    git:
      url : git@github.com:memspace/zefyr.git
      ref : master
      path : packages/zefyr

and did: flutter packages get

That was successful and then I did: flutter run -d chrome

And now I get

aldanisvigo@Aldaniss-MBP ReportWriter % flutter run -d chrome
Launching lib/main.dart on Chrome in debug mode...
../flutter/.pub-cache/git/zefyr-646b

[2021-02-20 17:34] singerdmx commented on #486
@MaheshManoharan  OK, my [change](https://github.com/singerdmx/flutter-quill/pull/34/files) is done now. I tested it on my phone and it is working.
All you need to do is this:
![image](https://user-images.githubusercontent.com/122956/108603779-ca1dc200-735e-11eb-9d1f-8e433fd003cb.png)

[2021-02-20 17:37] MaheshManoharan commented on #486
@singerdmx A little bit doubt again... I am using ZefyrEditor, But you showed me in QuillEditor

[2021-02-20 19:12] singerdmx commented on #486
I don't think Zefyr is accepting pull request.
And this change is for https://pub.dev/packages/flutter_quill
I will submit my change once my team mate verifies the change is working.

[2021-02-21 02:59] MaheshManoharan commented on #486
I saw your package. It's nice, I will comment after check it out. Thank you for your response.

[2021-02-21 03:25] MaheshManoharan commented on #486
I checked your example, but it shows just a white blank screen based on pub

[2021-02-21 03:27] singerdmx commented on #486
@MaheshManoharan  the change is not checked in yet. Please wait until my team mate @li3317 verifies the change.
Then we will bump the version

[2021-02-21 03:28] MaheshManoharan commented on #486
@singerdmx could you please inform me, when it's over.

[2021-02-21 03:30] singerdmx commented on #486
@li3317 will update this thread here once it is in and let you know how to use placeholder with details

[2021-02-21 03:31] li3317 commented on #486
Hi @MaheshManoharan  Sorry about the delay! The change is now available on at  https://pub.dev/packages/flutter_quill! Here's an example of how it looks.
![151430107_289821215825210_5622744891969403627_n](https://user-images.githubusercontent.com/46685982/108614753-641b5400-73cb-11eb-9c86-1c9806d5271e.jpg)

[2021-02-21 03:34] MaheshManoharan commented on #486
@li3317 , @singerdmx  Thank you both. I will comment after checking out.

[2021-02-21 03:40] MaheshManoharan commented on #486
@li3317 , @singerdmx  No change, it just shows a blank screen. I have just used the code in pub example.

[2021-02-21 03:42] singerdmx commented on #486
![image](https://user-images.githubusercontent.com/122956/108614917-b3558a80-73b3-11eb-83e9-3baffd32b4e5.png)

Did you add anything here?

[2021-02-21 03:44] MaheshManoharan commented on #486
@singerdmx no I can't add placeholder, because it just shows a white blank screen. I haven't added it yet. just used this example code.

[2021-02-21 03:45] MaheshManoharan commented on #486
@singerdmx
how did you upload the image? I can post my screenshot.

[2021-02-21 03:51] li3317 commented on #486
New version with placeholder support is published!

[2021-02-21 03:52] MaheshManoharan commented on #486
@li3317 it shows awaiting...
![Screenshot_1613878751](https://user-images.githubusercontent.com/69787389/108615080-5b0ba080-7426-11eb-8c71-366965ee93c6.png)

[2021-02-21 03:54] MaheshManoharan commented on #486
I got above screen - blank white screen

[2021-02-21 04:16] singerdmx commented on #486
Paste your code

[2021-02-21 04:17] singerdmx commented on #486
Also can you try to run the code in https://github.com/singerdmx/flutter-quill/tree/stable/app and let us know what you see?

[2021-02-21 05:22] MaheshManoharan commented on #486
`import 'dart:async';
import 'dart:io';

import 'package:flutter/material.dart';
import 'package:flutter_quill/widgets/controller.dart';
import 'package:flutter_quill/widgets/editor.dart';
import 'package:flutter_quill/widgets/toolbar.dart';

void main() => MaterialApp(home: HomePage());

class HomePage extends StatefulWidget {
  @override
  _HomePageState createState() => _HomePageState();
}

cla

[2021-02-21 05:40] singerdmx commented on #486
You did it wrong
please read REAME

[2021-02-21 05:41] singerdmx commented on #486
Please follow https://github.com/singerdmx/flutter-quill/blob/stable/app/lib/pages/home_page.dart

[2021-02-21 05:46] MaheshManoharan commented on #486
oh..my bad. I have been using zefyr, now I have changed my mind to use flutter-quill, Your response is the best. Thank you, guys. You are so supportive. flutter-quill/stable app code is working fine.  Is there any doubt or question, should I comment here. As a beginner, I don't know what to talk.

[2021-02-21 05:50] singerdmx commented on #486
@MaheshManoharan for issues regarding https://pub.dev/packages/flutter_quill , please create issue under https://github.com/singerdmx/flutter-quill/issues

We were using Zefyr until we found it uses custom delta format that is incompatible with quilljs https://quilljs.com/docs/formats

Also lack of support is one of the reasons as well.

[2021-02-21 05:55] MaheshManoharan commented on #486
okay.. is it free to use in commercial projects?

[2021-02-21 05:56] singerdmx commented on #486
Sure, I don't care how you use it as long as it helps you

[2021-02-21 06:03] MaheshManoharan commented on #486
@singerdmx cool...

[2021-02-21 12:37] cgestes commented on #486
@singerdmx wrong bug tracker. Please keep your project related discussion in your project.

Still its ok to mention your project here, especially as inspiration to how to do thinks. :)

[2021-02-21 17:59] singerdmx commented on #485
https://github.com/flutter/flutter/issues/10826

[2021-02-21 18:00] singerdmx commented on #485
https://pub.dev/packages/keyboard_avoider

[2021-02-21 19:58] singerdmx commented on #485
I think I found a solution to this

https://stackoverflow.com/questions/60235386/is-it-possible-to-force-smooth-implicit-scrolling-for-flutters-accessibility-fo

We can call `showOnScreen` using  `_lastTapDownPosition`
[code]

[2021-02-22 04:02] li3317 commented on #485
Hello ,  we have fixed this issue on our repo, you can check the change here : https://github.com/singerdmx/flutter-quill/commit/471c1cb7ee542977b777b0fc10cbaa5cfb35ddea. Thanks!

[2021-02-23 03:35] nnkti18 opened #487 "The last line of ZefyrField clipped when in read only mode (iOS only)"
## Steps to Reproduce

1. Load the Zefyr example. change the content of basics_read_only_view.note to this (as long as the last displayed text line contains only Emojis).
[code]
2. Open the Read only example page. As we can see from the image below, the bottom part of the last line (which contains only emojis) was clipped.
![image](https://user-images.githubusercontent.com/27147322/108799219-52e86

[2021-02-23 03:53] cuongloveit commented on #480
I also have this issue. Could you fix? :((

[2021-02-23 07:47] namtranx07 commented on #487
I have just tried and met the same issue.

[2021-02-23 09:04] JacobWrenn commented on #409
Can someone please confirm whether singerdmx/flutter-quill has anything to do with Zefyr? All that happens in my issue #485 is people telling me to go there instead!

[2021-02-23 09:35] britannio commented on #485
Hey, are you making an attempt to get this fix merged into this repo as it's the official one and v1 is in development?

[2021-02-24 02:50] namtranx07 commented on #487
This issue appears to happen only when the editor isn't focused(The cursor isn't visible) so the read-only mode is not related.

[2021-02-24 07:01] nnkti18 commented on #487
I have just tried to replicate this in edit mode and you're right. Maybe there's a bug in the implementation of how caret is displayed because from what I see in the source code, they are implemented differently between Android and iOS. I will investigate more.

[2021-02-26 02:56] tantai24495 commented on #487
it also happens on the real device (iOS)

[2021-02-26 04:01] nnkti18 commented on #487
I did implement a workaround for this issue at [this commit](https://github.com/harrylefit/Zefyr-Advanced/commit/9bf36d8e044838cc94cf67dfdc6493155d9735fd). But still, I can't figure out why it behaves like this 🤔

[2021-02-26 07:16] nnkti18 commented on #480
@singerdmx hey, can you check the void updateEditingValue(TextEditingValue value) function in editor_input_client_mixin.dart. I think the problem comes from this piece of code
`if (_sentRemoteValues.contains(value)) {
      /// There is a race condition in Flutter text input plugin where sending
      /// updates to native side too often results in broken behavior.
      /// TextInputConnection.se

[2021-02-26 07:19] singerdmx commented on #480
I cannot repro your issue. But if you informed what the fix, I can try to apply it and let you try it out.

[2021-02-26 07:24] nnkti18 commented on #480
Okay, I'll let you know when I come up with something new.

[2021-02-26 07:50] nnkti18 commented on #480
@singerdmx
![image](https://user-images.githubusercontent.com/27147322/109271190-bd5b0b80-7841-11eb-8b36-65ce7c53005a.png)
I remove this line of code in editor_input_client_mixin.dart
`_sentRemoteValues.add(_lastKnownRemoteTextEditingValue);`
And the issue seems to be fixed but I am not sure what's the consequences

[2021-02-26 08:02] singerdmx commented on #480
I can do some testing at our side.
Also you can test it out on this branch https://github.com/singerdmx/flutter-quill/tree/last_char

[2021-02-26 08:05] nnkti18 commented on #480
Thanks, I'll test it.

[2021-02-26 08:08] singerdmx commented on #480
![image](https://user-images.githubusercontent.com/122956/109273035-83005880-77c6-11eb-8289-cb922b1cbc8a.png)

`!hasConnection` only happens when you open keyboard for the first time. Later if you hide the keyboard, it is still considered open (attached).

You want to test `double click a word` that opens keyboard or `using one click` that opens keyboard.

[2021-02-26 08:10] singerdmx commented on #480
Also we recently fixed the cursor issue when keyboard is open https://github.com/singerdmx/flutter-quill/commit/a5e1194bb34c8436454e70e6b474dbc1c9fe23df
You might want to check that as well.
Now keyboard won't hide your cursor.

[2021-02-26 08:53] singerdmx commented on #480
@nnkti18 I tested and no issue.
Submitted as https://github.com/singerdmx/flutter-quill/commit/d4b07c5395a5679727b704460ad45766eb959219
You can check it out

[2021-02-26 09:08] nnkti18 commented on #480
Thanks

[2021-02-26 21:43] elaishane commented on #409
Hey, guys, I have 4 zefyr editors on a single page and whenever I try to press space it creates issues. Like it goes to the toolbar. I have used different controllers and focus Node. Also, there is a page when space works only when I am writing characters quickly If I just press space then it does not work. Collaborators, Can you please help me with my issue. I need to submit this project to the c

[2021-03-02 01:29] HeebeLee commented on #409
Hi, it's been three months since the last code merge. In the future, can the relevant update code be merged into the project in time? Even the beta version.

@pulyaevskiy pu @GyuriMajercsik @cgestes

[2021-03-03 20:34] m-j-g commented on #409
Could use an update to support flutter 2 and updated url_launcher dependency

[2021-03-04 07:11] GyuriMajercsik commented on #409
It would be really nice but I am just a contributor / user of this plugin. @pulyaevskiy is the owner and he very probably has other stuff on his plate.

[2021-03-04 07:16] singerdmx commented on #409
@GyuriMajercsik is there some kind of other communication channel that people can reach out to him?
For example, [flutter-quill](https://github.com/singerdmx/flutter-quill) has a [Slack Group](https://join.slack.com/t/bulletjournal1024/shared_invite/zt-fys7t9hi-ITVU5PGDen1rNRyCjdcQ2g)
If not, you guys may want to create one similar

[2021-03-04 14:49] aleripe commented on #409
Has this project been abandoned?

[2021-03-04 15:01] britannio commented on #409
@pulyaevskiy hasn't been active in a while and he's the only one that can accept PRs atm. Judging by the number of forks and PRs in this repository, the community is large enough to keep this moving forward.

[2021-03-04 16:05] singerdmx commented on #409
[flutter-quill ](https://github.com/singerdmx/flutter-quill) is active and will be able to take PRs if it helps you guys.
It is very close to Zefyr.
We use it for [Bullet Journal App](https://bulletjournal.us/home/index.html)
[flutter-quill ](https://github.com/singerdmx/flutter-quill) is under MIT license and no constraint for commercial use for anyone.

[2021-03-04 18:35] DylanStouls opened #489 "Run failed with Flutter 2.0"
## Description
Hi,
I tried to use zephyr 0.12.0 on a new flutter 2.0 project and it looks like it doesn't work.
Is flutter 2.0 supported or is it planned to be any time soon ?

## Steps to Reproduce

1. Create a new flutter 2.0 project
2. Follow this guide until step 4 : https://zefyr-editor.gitbook.io/docs/quick-start
3. `$ flutter run`

## Logs

With Chrome :
[code]

With Android SDK 30 :
[code]

[2021-03-04 18:44] singerdmx commented on #489
![image](https://user-images.githubusercontent.com/122956/110013499-8cae2280-7cd6-11eb-9b14-7ba24668e9e0.png)

[2021-03-04 18:50] johnnak commented on #409
build fails with flutter 2.0.0.

ERROR
/C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/zefyr-0.12.0/lib/src/widgets/selection.dart:659:42: Error: Too few positional arguments: 8 required, 7 given.
    final toolbar = controls.buildToolbar(

zefyr: ^0.12.0

flutter --version
Flutter 2.0.0 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 60bd88df91 (26 hours ago) • 2

[2021-03-05 17:52] jwehrle commented on #483
So I ran into this same problem while in Channel stable after updating to Flutter 2. The simplest "solution" was to copy the zefyr, notus, quill_delta, and quiver_hashcode files to a folder under lib and fix the original error (add a null parameter to the function call). In the next few days I will analyze the code and make sure I'm happy with it but for now this is no longer a bug that breaks my

[2021-03-05 19:26] opun-ai241 commented on #409
I think creating a slack group and having a dedicated fork would be the way to go. I can create the group and fork and start adding people if there is enough support for it.

[2021-03-05 19:44] davidAg9 commented on #489
so it is discontinued I guess
....a great package dies

[2021-03-05 20:48] hyouuu commented on #409
Agreed that we should use a fork for now until the owner becomes active again. I'd propose my fork which fixed some bugs, the compilation for flutter 2, and brought some enhancements. You can see the code changes here: https://github.com/memspace/zefyr/pull/479/files

[2021-03-05 21:03] opun-ai241 commented on #409
Sounds good. @hyouuu we can use your fork.

👋  Let’s move this to Slack! It’s a faster, simpler way to talk shop, share files, and work together. You can sign up here: https://join.slack.com/t/newworkspace-opq5273/shared_invite/zt-ni38p7u9-BDtnqptI72setbBWbWNclA

[2021-03-05 21:05] aleripe commented on #409
Wouldn't it be better to start from scratch?

[2021-03-05 21:13] opun-ai241 commented on #409
What do you mean by scratch?

[2021-03-05 21:15] aleripe commented on #409
I mean a completely new editor. I see too many compromises with Zefyr, first of all not being fully compatible with Quill.

[2021-03-05 21:17] singerdmx commented on #409
[flutter-quill ](https://github.com/singerdmx/flutter-quill) is fully compatible with Quill. It is under MIT license and no constraint for commercial use for anyone.
If you do not have Zefyr-based production data yet, it is a better choice.

[2021-03-05 21:20] singerdmx commented on #409
Actually what is the license for Zefyr?
I don't see it in github

[2021-03-05 21:21] aleripe commented on #409
I might evaluate it tomorrow... my app will be launched in the next month or so, last step missing is the text editor.

[2021-03-05 21:22] hyouuu commented on #409
I think people come to zefyr because there is no better option available yet. If someone could come up with a new editor without compromises that would be awesome, but I can see it's a rather complicated project. Please do share your evaluation of flutter-quill as it will help others :)

[2021-03-05 21:22] florianh01 commented on #409
I can confirm that. I switched my project from Zefyr to Flutter-Quill today. I think it would make more sense to concentrate development on one editor.

[2021-03-05 21:24] aleripe commented on #409
I second that.

[2021-03-05 21:26] marc-walton opened #490 "How to show images in zefyr view from firebase?"
I used firebase as cloud storage for images and this is how it look in the firebase console.
`"insert":"Zefyr Quick Start"},{"insert":"\n","attributes":{"block":"quote"}},{"insert":"​","attributes":{"embed":{"type":"image","source":"https://firebasestorage.googleapis.com/v0/b/fashow-d9ed2.appspot.com/o/post_File%3A%20'%2Fdata%2Fuser%2F0%2Fcom.fashow.fashow%2Fcache%2Fimage_picker1997777282086208868

[2021-03-05 21:27] singerdmx commented on #490
check out https://github.com/memspace/zefyr/issues/463

[2021-03-05 21:29] singerdmx commented on #490
![image](https://user-images.githubusercontent.com/122956/110175498-b3dc2100-7db6-11eb-9e87-ddd61c789302.png)

[2021-03-05 21:29] singerdmx commented on #490
![image](https://user-images.githubusercontent.com/122956/110175547-c8201e00-7db6-11eb-93d2-36fa98e9767a.png)

[2021-03-05 21:29] singerdmx commented on #490
![image](https://user-images.githubusercontent.com/122956/110175555-d0785900-7db6-11eb-9222-460b101cd3dd.png)

[2021-03-05 21:31] opun-ai241 commented on #409
Well if the transition went smoothly, I don't see why not just support flutter-quill. Are there any major differences between the packages to be aware of? @florianh01

[2021-03-05 21:35] hyouuu commented on #409
Would also love to learn what features and scopes your project used @florianh01 to see what aspects are covered in the transition

[2021-03-05 21:36] marc-walton commented on #490
I know how to use image picker and upload but I don't how to get the url of the image from firebase to use in zefyrview

[2021-03-05 21:51] florianh01 commented on #409
In principle, the packages are very similar. I think Zefyr can be easily replaced with Flutter Quill at least 90% of the time.

Flutter Quill also supports more formatting options such as colored text.  Dark mode is here also considered where I had my concerns at the beginning.

However, I have no experience in inserting images as I do not need this function in my app.

Also, Flutter Quill can onl

[2021-03-05 21:54] singerdmx commented on #409
Yes, because Zefyr's data format is not 100% [Quill Format](https://quilljs.com/docs/formats/) while Flutter Quill is 100% compliant with [Quill Format](https://quilljs.com/docs/formats/)

[2021-03-05 21:57] hyouuu commented on #409
Thanks @florianh01 ! @singerdmx could you add image examples in the sample?

[2021-03-05 21:59] singerdmx commented on #409
@hyouuu it is already in sample page under https://github.com/singerdmx/flutter-quill/blob/master/example/main.dart

![image](https://user-images.githubusercontent.com/122956/110178159-e9830900-7dba-11eb-90a0-802dbcf056b4.png)

[2021-03-05 22:01] singerdmx commented on #409
Check out https://github.com/singerdmx/flutter-quill/blob/master/app/lib/pages/home_page.dart#L139

![image](https://user-images.githubusercontent.com/122956/110178370-323ac200-7dbb-11eb-828d-b6580c0212d1.png)

It supports local image, network image or base-64 encoded image

[2021-03-05 22:05] hyouuu commented on #409
What about not using QuillToolbar? How about horizontal divider?

[2021-03-05 22:07] singerdmx commented on #409
No support for horizontal divider yet.
But you are welcome to submit a pull request to add that.
Please be the data format is compliant with  [Quill Format](https://quilljs.com/docs/formats/)  https://stackoverflow.com/questions/37525867/how-can-i-add-a-new-format-hr-tag-to-quill-js

[2021-03-05 22:22] zeusbaba commented on #489
yes I had many issues caused by this project not being actively maintained.
since then I've been maintaining my own fork https://github.com/beerstorm-net/zefyr and recently updated it for Flutter 2 as well! Feel free to use it
[code]

[2021-03-05 22:47] singerdmx commented on #489
[flutter-quill ](https://github.com/singerdmx/flutter-quill) is fully compatible with Quill. It is under MIT license and no constraint for commercial use for anyone.
If you do not have Zefyr-based production data yet, it is a better choice.

[2021-03-05 23:23] DylanStouls commented on #489
Thank you guys for your responses.
I see that you are all unanimous and I guess that you are right. At least, [statistics](https://github.com/memspace/zefyr/graphs/contributors?from=2018-07-08&to=2021-03-06&type=c) are going on the same way.

I will close this issue since the conversation is going to be duplicated [with this one](https://github.com/memspace/zefyr/issues/409)

[2021-03-05 23:23] #489 closed

[2021-03-06 03:55] singerdmx commented on #409
Anyone who wants to be the collaborator of [flutter-quill ](https://github.com/singerdmx/flutter-quill) please me know.
I will add you.

![image](https://user-images.githubusercontent.com/122956/110194310-b3f71380-7dec-11eb-873f-6cd265b14d41.png)

[2021-03-06 04:03] HeebeLee commented on #409
I looked at the buill, hoping to expose more methods.  For example, the
number of characters in the line, the characters obtained according to the
index, and so on.  Refer to UITextView, because of advanced requirements,
more flexibility is needed.

On Sat, Mar 6, 2021 at 11:55 AM Xin Yao <notifications@github.com> wrote:

[2021-03-06 04:05] singerdmx commented on #409
@HeebeLee you can either submit a pull request or become a collaborator (you can directly commit to repo)

[2021-03-06 04:37] li3317 commented on #409
Hi all, our repo supports some additional features such as supporting custom font size as well as supporting redo and undo :
![screenshot](https://user-images.githubusercontent.com/46685982/110195525-c16fc600-7e0b-11eb-837b-5c15de6c3198.jpeg)
Feel free to check out our repo https://github.com/singerdmx/flutter-quill , thanks!

[2021-03-06 07:39] zeusbaba commented on #489
well done @singerdmx , I'll have a look at your repo as well.
In my case, I have to maintain my fork for some more time, because I've published apps which depend on `zefyr` which needs to be up2date.

[2021-03-07 21:45] fabiobeoni commented on #483
Same here with Flutter 2.1 stable channel targeting Linux Desktop.

BTW great plugin, thanks for it.

[2021-03-08 11:00] hadi20sa opened #491 "Dependency url_launcher"
Please update the url_launcher dependency version

[2021-03-10 17:12] amantoux commented on #409
Is it ready for concurrent document edition?

[2021-03-10 20:40] amantoux commented on #491
I'm working on null safety along with the upgrade to Flutter 2
I'll make sure to include this

[2021-03-10 20:43] singerdmx commented on #491
Are u sure your pull request will be accepted?

[2021-03-10 20:43] singerdmx commented on #491
This repo hasn't accepted any pull request for months

[2021-03-10 20:49] amantoux commented on #491
I'm still hopeful
Would you be so kind as to refrain from spamming discussions?
Thank you

[2021-03-15 08:07] ArjanAswal commented on #409
I think this is possible as you can assign a listener to the quill editor controller and wrap the editor inside a snapshot listener.
Then whenever something changes, you can update the delta data on the server (eg Firestore) and then the editor widget automatically rebuilds on another device.

This is not really a package specific feature but more of an implementation on the app side.

[2021-03-15 12:34] HakimMalikOttey opened #496 "Closing and re-opening keyboard makes old text impossible to backspace on"
Steps to reproduce:
1. Install Zefyr and quill_delta
2. Remove everything under `TODO: figure out if we need to support autofill ` in input.dart
3. under toolbar in selection.dart add a double as a field for `lastSecondaryTapDownPosition` in selection.dart
4. Create a `ZefyrScaffold` and `ZefyrEditor `
5. Place text into the field
6. Close the system's keyboard
7. Click on the text that you just c

[2021-03-15 13:43] kwestlund commented on #409
Coordination is required to update the document with both outgoing user-generated changes and incoming server changes.

Assuming a server with support for OT, here is the algorithm needed to be implemented on the client-side:

1) For each delta produced by changes made to the document by the user:
* send the delta to the server with the latest document version #
* keep track of the last delta sent

[2021-03-15 17:04] singerdmx commented on #496
check out https://github.com/memspace/zefyr/issues/409#issuecomment-790728055

[2021-03-17 00:04] dannnnthemannnn commented on #442
I too am getting this error

[2021-03-17 00:07] singerdmx commented on #442
@dannnnthemannnn

This repo has been inactive for months.  See https://github.com/memspace/zefyr/issues/409#issuecomment-790671992

Just FYI to save your time here.

[2021-03-17 00:11] dannnnthemannnn commented on #442
Yeah, I know but I was hoping someone was maintaining a fork or something.

The flutter-quill is not working on web very well currently and this seems to be quite good on web so was hoping to just use zefyr until the flutter-quill web version is farther along.

[2021-03-19 14:29] sarry173 commented on #70
HI @pulyaevskiy  is this bug fixed, Please update

[2021-03-19 15:13] singerdmx commented on #70
This repo has been inactive for months.  See https://github.com/memspace/zefyr/issues/409#issuecomment-790671992

Just FYI to save your time here.

[2021-03-19 23:19] pratikpparikh commented on #442
@dannnnthemannnn  and @singerdmx is flutter-quill better or zefyr to add web support too?

[2021-03-21 04:09] anthonychwong opened #498 "Markdown Support of Zefyr"
When I import and export a markdown document, I notice some formats are missing.

I want to know if the following three of markdown feature is supported. If yes, may I know how to properly config the editor?

- `monospace` format
- list 2 or more level
- syntax highlight for different programing language

Output of running `flutter doctor -v`
[code]

[2021-03-21 04:24] singerdmx commented on #498
This repo has been inactive for months.  See https://github.com/memspace/zefyr/issues/409#issuecomment-790671992

Just FYI to save your time here.

[2021-03-24 13:58] radim10 opened #499 "Read data from Cloud firestore"
In my app, I save the note to Firebase Cloud Firestore as a stringified JSON:
` Future updateFirestore(contents) async {
    final contents = jsonEncode(_controller
        .document);
    await DatabaseService()
        .updateNote(widget.data['docId'].toString(), contents);
  }`

This example saves to firestore: `[{"insert":"FIrst text\nSec\nThis is heading "},{"insert":"\n","attributes":{"headi

[2021-03-24 16:35] singerdmx commented on #499
This repo has been inactive for months.  See https://github.com/memspace/zefyr/issues/409#issuecomment-790671992

Just FYI to save your time here.

[2021-03-24 16:58] radim10 commented on #499
OK, thanks. Will use flutter-quill instead.

[2021-03-24 18:51] #456 closed

[2021-03-24 18:52] #402 closed

[2021-03-25 16:50] #499 closed

[2021-04-05 17:23] a1111198 opened #500 "Platform TargetPlatform.windows not implemented."
## Steps to Reproduce

1. ...using zefyr :^0.12.0
2. ... ` import 'package:flutter/material.dart';
import 'package:quill_delta/quill_delta.dart';
import 'package:zefyr/zefyr.dart';

class EditorPage extends StatefulWidget {
  @override
  EditorPageState createState() => EditorPageState();
}

class EditorPageState extends State<EditorPage> {
  /// Allows to control the editor and the document.
  Ze

[2021-04-05 21:58] singerdmx commented on #500
This repo has been inactive for months.  See https://github.com/memspace/zefyr/issues/409#issuecomment-790671992

Just FYI to save your time here.

[2021-04-06 13:15] a1111198 commented on #500
This issue is not occurring in zefyr: ^1.0.0-dev.1.0
I am adding one question here that how can I use toolbar (which appear when we open keyboard in zefyr editor) for Flutter web?
please Answer this question I didn't found it.

[2021-04-09 11:39] khmergeo opened #501 "Depends on url_launcher ^6.0.3"
Hello,

I got errors when upgrading the latest version of another package, The special is url_launcher.

1. Running "flutter pub get" in my project
2. I used url_launcher: ^6.0.3
3. Because another package of Firebase required url_launcher ^6.0.0

## Error Logs

Because zefyr >=0.4.0 depends on url_launcher ^5.0.0 and projectName depends on url_launcher ^6.0.3, zefyr >=0.4.0 is forbidden.

So, bec

[2021-04-10 12:38] Purus commented on #483
Same with Flutter stable 2.0.4 for Android.

[2021-04-10 18:19] singerdmx commented on #483
This repo has been inactive for months.  See https://github.com/memspace/zefyr/issues/409#issuecomment-790671992

Just FYI to save your time here.

[2021-04-12 09:59] AcnoSaga opened #502 "Support for Flutter 2.0"
### Support for Flutter 2.0
In the file `lib/src/widgets/selection.dart` at line 659:

`final toolbar = controls.buildToolbar(
      context,
      editingRegion,
      block.preferredLineHeight,
      midpoint,
      endpoints,
      widget.selectionOverlay,
      widget.clipboardStatus,
    );`

Is causing errors, since buildToolbar now takes 8 arguments instead of 7.

This needs some simple fix

[2021-04-12 14:45] singerdmx commented on #502
This repo has been inactive for months.  See https://github.com/memspace/zefyr/issues/409#issuecomment-790671992

Just FYI to save your time here.

[2021-04-17 10:35] axgalache commented on #477
Hello @AldanisVigo
I'm trying to edit the file for removing nullOk: true , but I can not locate and open the file
../../dev/flutter/.pub-cache/hosted/pub.dartlang.org/zefyr-1.0.0-dev.2.0/lib/src/widgets/text_line.dart:44:47
Do you know where I can find this file? I'm on Mac OS Big Sur (m1)

[2021-04-17 18:46] singerdmx commented on #477
@axgalache

This repo has been inactive for months.  See https://github.com/memspace/zefyr/issues/409#issuecomment-790671992

Just FYI to save your time here.

[2021-04-21 12:10] jclink commented on #335
The solution I arrived at was to use Container box constraints and move the ZefyrScaffold up the tree:
<code>Scaffold(
      body: Container(
        constraints: BoxConstraints.expand(),
        child: ZefyrScaffold(
          child: SingleChildScrollView(
          	/*  my editor is second child of column in scrollview  */</code>

[2021-04-22 07:16] singerdmx commented on #335
We already solved this problem at https://github.com/singerdmx/flutter-quill

[2021-04-22 08:43] woodstream commented on #335
I had used Flutter-Quill instead of Zefyr long before, haha。Maybe at the v0.2.0  of Flutter-Quill.

[2021-04-24 07:30] singerdmx commented on #335
@woodstream you probably should upgrade to 1.2.1. Your version is too old

[2021-04-25 05:42] woodstream commented on #335
It was updated to v3.0 two month ago, I can't upgrade to v1.2.1 because Flutter 2.0 not work well for me.

[2021-04-25 05:43] woodstream commented on #335
@singerdmx It was updated to v3.0 two month ago, I can't upgrade to v1.2.1 because Flutter 2.0 not work well for me.

[2021-04-27 19:43] KolesnikovaKristinavm opened #504 "ZefyrField: error when bold and italic to toggle on"
I got an error when bold and italic to toggle on.

## Steps to Reproduce

1. Set bold or italic to toggle on
2. Try to go to a new line

## Logs
I/flutter ( 6118): ══╡ EXCEPTION CAUGHT BY ZEFYR ╞═════════════════════════════════════════════════════════════════════
I/flutter ( 6118): The following assertion was thrown while updating editing value:
I/flutter ( 6118): It is not allowed to apply inlin

[2021-04-27 19:50] singerdmx commented on #504
This repo has been inactive for months.  See https://github.com/memspace/zefyr/issues/409#issuecomment-790671992

Just FYI to save your time here.

[2021-05-04 06:48] agarwalrohit2503 commented on #409
Zefyr is not working for flutter version 2.0.2
Any suggestions how can we make it work

[2021-05-04 08:41] featzima commented on #409
@agarwalrohit2503 We supports own fork of Zefyr. You can easily enable it by adding the following lines to `pubspec.yml`:
[code]

[2021-05-04 10:57] amantoux commented on #409
@featzima are you also working on v1.0? if yes, maybe we can help each other

**All**, I'm working on the 1.0-dev version on my spare time while @pulyaevskiy is not available
So far, it is working (basically) on mobile, but needs some work to be fully functional on the web support

To not hesitate to test and contribute to https://github.com/amantoux/zefyr/tree/1.0-dev-master

[2021-05-08 17:51] galvin59 commented on #409
Hi @amantoux
Thanks for providing your fork.
I can hardly find documentation, I tried to update from a previous version of Zefyr to yours, but I got errors, apparently ZefyrScaffold and ZefyrView are not available anymore, do you have any ideas of what they have been replaced by ?

[2021-05-08 18:48] amantoux commented on #409
No, indeed, in v1, simple add a ZefyrEditor to the containing widget and set a ZefyrController (pretty similar to TextField widget and TextEditingController)

[code]

[2021-05-09 18:46] amantoux commented on #409
There is a `readOnly' attribute to `ZefyrEditor`

You can look at the examples in the branch, they are updated

[2021-05-09 19:10] enomars opened #505 "Build fail on latest version of FlutterError: The non-abstract class 'RawEditorState' is missing implementations for these members: ..."
## Steps to Reproduce

1. ... Build fail on latest version of Flutter
2. ...
3. ...

## Logs

Running Gradle task 'assembleDebug'...
../flutter/.pub-cache/hosted/pub.dartlang.org/zefyr-1.0.0-dev.2.0/lib/src/widgets/editor.dart:676:7: Error: The non-abstract class 'RawEditorState' is missing implementations for these members:
 - TextSelectionDelegate.userUpdateTextEditingValue
Try to either
 - prov

[2021-05-18 05:08] sleepreading opened #506 "Save your Time"
This library doesn't support Flutter 2.0

It depends on many other libraries, such as notus.... which doesn't support Flutter 2.0 too!

So, Don't use it! I waste one hour to fix very source file; As a result, I give up!!

[2021-05-18 05:08] #506 closed

[2021-05-18 05:10] sleepreading commented on #502
Wanna save you time? Just keep away from this shit library!

[2021-05-18 20:17] cgestes commented on #502
Man that's very rude... This library is a lot of code of good quality. As far as I know the best code quality and architecture for a rich text editor in native flutter.
It is a big task that took a lot of time and research. Please be reapectuf of the people that dix put up the great work.

Only issue here is that it is missing maintainers.

[2021-05-19 07:15] SrinivasAttili84 opened #507 "Zefyr not working"
## Steps to Reproduce
Added latest zefyr 0.12.0 pub, run the code
## Logs
** BUILD FAILED **
Xcode's output:
↳
    ../../../../.pub-cache/hosted/pub.dartlang.org/zefyr-0.12.0/lib/src/widgets/selection.dart:39:7: Error: The non-abstract class 'ZefyrSelectionOverlayState' is missing implementations for these members:
     - TextSelectionDelegate.userUpdateTextEditingValue
    Try to either
     - pr

[2021-05-19 17:57] singerdmx commented on #505
This repo has been inactive for months.  See https://github.com/memspace/zefyr/issues/409#issuecomment-790671992

Just FYI to save your time here.

[2021-05-19 20:27] glynskyi commented on #507
Please try [Zefyrka package](https://pub.dev/packages/zefyrka) instead of this one.

Zefyrka is a fork of Zefyr package with the following improvements:
- support of Flutter 2.0
- opt-in the null safety
- text color
- background color
- paragraph alignment
- paragraph indentation

[2021-05-19 20:27] featzima commented on #505
Please try [Zefyrka package](https://pub.dev/packages/zefyrka) instead of this one.

Zefyrka is a fork of Zefyr package with the following improvements:
- support of Flutter 2.0
- opt-in the null safety
- text color
- background color
- paragraph alignment
- paragraph indentation

[2021-05-19 20:28] featzima commented on #409
If someone needs Zefyr on steroids just try [Zefyrka package](https://pub.dev/packages/zefyrka).

Zefyrka is a fork of Zefyr package with the following improvements:
- support of Flutter 2.0
- opt-in the null safety
- text color
- background color
- paragraph alignment
- paragraph indentation

[2021-05-19 20:29] featzima commented on #502
Please try [Zefyrka package](https://pub.dev/packages/zefyrka) instead of this one.

Zefyrka is a fork of Zefyr package with the following improvements:
- support of Flutter 2.0
- opt-in the null safety
- text color
- background color
- paragraph alignment
- paragraph indentation

[2021-05-19 20:31] featzima commented on #477
Please try [Zefyrka package](https://pub.dev/packages/zefyrka) instead of this one.

Zefyrka is a fork of Zefyr package with the following improvements:
- support of Flutter 2.0
- opt-in the null safety
- text color
- background color
- paragraph alignment
- paragraph indentation

[2021-05-19 20:32] featzima commented on #500
Please try [Zefyrka package](https://pub.dev/packages/zefyrka) instead of this one.

Zefyrka is a fork of Zefyr package with the following improvements:
- support of Flutter 2.0
- opt-in the null safety
- text color
- background color
- paragraph alignment
- paragraph indentation

[2021-06-03 08:47] sampy1998 opened #508 "Error: The non-abstract class 'InputConnectionController' is missing implementations"
## Steps to Reproduce

I just upgraded my flutter and zefyr too and it is constantly showing this error
can anyone please help me resolve this

[code]

[2021-06-03 09:20] glynskyi commented on #508
FYI Zefyr package is not maintained. Please take a look on Zefyrka package instead of this one.

Zefyrka is a fork of Zefyr package with the following improvements:

- support of Flutter 2.0
- opt-in the null safety
- text color
- checked list items
- background color
- paragraph alignment
- paragraph indentation

[2021-06-28 01:59] viet06061999 commented on #409
I want to insert some text to last document but it has a exception, i tried many way but no one doing
![image](https://user-images.githubusercontent.com/57834181/123568526-bbed2000-d7ee-11eb-8011-e688bcb20aa4.png)
![image](https://user-images.githubusercontent.com/57834181/123568739-256d2e80-d7ef-11eb-8f54-8174a1003b13.png)

[2021-06-28 09:20] aleripe commented on #409
Is Zefyrka abandoned too? No answer to issues on GitHub...

[2021-06-28 09:31] TheAlphamerc commented on #420
Thanks @yamsergey, The solution you shared really worked. If someone else facing the issue can try this solution.

[2021-06-28 12:21] featzima commented on #409
@aleripe We`re fixing all critical issue and compatibility issues with Flutter for [Zefyrka](https://pub.dev/packages/zefyrka). Some requested improvement are in our roadmap and we will fix them soon. However other are not. So you can always send the PR for a requested feature and we will say thank you for contributing =)

[2021-06-28 13:01] aleripe commented on #409
@featzima That's great! I don't have the skills to contribute... but I'll keep an eye on it! :)

[2021-07-09 06:18] Amir-P opened #513 "Can't get an attributes unset in Notus"
While working on Zefyr I found out that there is an issue in Notus after migrating to null-safety which isn't covered by tests. It's not possible to get an unset attribute with passing `null` value using `NotusStyle.fromJson`.

Code to reproduce:
[code]

[2021-07-10 04:14] #513 closed

[2021-07-20 05:25] pulyaevskiy commented on #502
Zefyr now compiles with Flutter 2.x (stable version).

[2021-07-20 05:25] #502 closed

[2021-07-25 13:52] 0Vipin0 commented on #409
After going through all the comments, I have few questions.
1. Is zefyr abandoned? _It seems from the number of PRs and issues that it is abandoned though :(_
2. I see there are two alternative one zefyrka and flutter quill. Both seems to good enough. zefyrka is a seems to be new but direct fork of the zefyr and support all the platforms while flutter quill is quite mature and the maintainer is ve

[2021-07-25 14:14] friebetill commented on #409
Disclaimer: I used Zefyr for around two years and then switched to flutter_quill half a year ago. I never worked with Zefyrka. In the last months I fixed a few things on flutter_quill.

I think the maintainer doesn't find the time to work on Zefyr continuously. But about once a year he finds the time and makes good changes to the library. Unfortunately, the changes are not enough for the library t

[2021-07-25 15:00] 0Vipin0 commented on #409
@friebetill Thank you for the quick response.

I am aware of this and that's why I am edging towards the flutter quill.

Actually when I checked on the pub.dev there is only the android and ios tags only, so I thought It only support the mobile but when I checked the example I found all the platforms available and it was no where clearly written that It support all platform, So I think documentati

[2021-07-25 15:14] aleripe commented on #409
I'm using a slightly customized version of Zefyrka and can confirm it's working on web. I could send you a link to my web app to check, but don't know if I can.

[2021-07-27 12:50] featzima commented on #409
We was using Zefyr in our production from the very beginning. However year ago we needed the text color, background color, paragraph alignment and other features so we started to support own fork of Zefyr with required features. However over some time Zefyr support was stopped so we published our fork as `Zefyrka` package and continue with that.

We also discussed to use `flutter_quill`  however i

[2021-07-28 00:56] singerdmx commented on #409
IMHO, to support three different platforms and driving to reduce dependencies, we should export an interface package as follows. If one choose to do desktop, one should import `lib`, `desktop` packages. Mobile and web are similar.

lib
 ┣  reference interface // business logic
 ┃
interface
 ┣  define embed and other interfaces
 ┃
web
 ┣ reference interface and implement it
 ┃
 mobile
 ┣ reference

[2021-07-28 03:29] pulyaevskiy commented on #409
Hey everyone,

Just to answer this question:

No. I have not been actively contributing to it, which is true. But ultimately it's still a project I'd like to work on.

And actually there are some recent changes which got merged into 1.0-dev branch including support for Flutter 2.x (stable) and some null-safety improvements. Thanks to contributions from @Amir-P .

I'm still pretty limited with my t

[2021-07-28 07:45] britannio commented on #409
@pulyaevskiy the 1.0 announcement was made 10 months ago and 7 months of that time went by without a single commit to the 1.0-dev branch. From the perspective of a developer trying to use this package in production, 7 months of absence does constitute the project being abandoned hence why we're moving on to [super_editor](https://github.com/superlistapp/super_editor/tree/main/super_editor). What's

[2021-07-28 17:30] 0Vipin0 commented on #409
@pulyaevskiy It's good to see that the creator is still working on the project. And I completely agree with what @britannio said.

I believe that no single person can give a large amount of time and have their work of their own but I think the flutter community is sufficiently big and knowledgeable to help you continue to maintain this repo. I think you should get add some contributors to this pro

[2021-07-28 17:34] singerdmx commented on #409
My suggestion is to be really selective on contributors. From my personal experience maintaining flutter_quill repo, most contributors do not have a good grasp of the code base. Some does not even know flutter has master, dev, beta channels and send random PRs for their channel.

[2021-07-29 04:08] pulyaevskiy commented on #409
@britannio @0Vipin0

I was thinking about something along these lines as well.

Re: contributors

I'd be happy to add contributors to the project. That said, I'd be hesitant to give push or merge permissions right away. The way I'll likely to approach this is to first get an opportunity to work on a few PRs together so that there is good understanding of the codebase and the design choices that we

[2021-07-29 04:20] pulyaevskiy commented on #1
@jtacoma Thanks for your ideas, and sorry for the delay.

I agree with your points and those alternatives is something I considered as well. I feel like in the end whenever I try to model just the "indent" feature I always end up trying to solve the "nested blocks" problem.

So I think it'd probably make more sense to focus on the broader solution which would include nested blocks which implies su

[2021-08-04 18:20] kingrupam opened #521 "please upgrade your package"
please upgrade your package

[2021-08-04 19:06] Amir-P opened #522 "FocusNode instance is not created if not given"
According to the comments of `focusNode` field of `widgets/editor.dart`, the `focusNode` can is optional and should be created by editor if is not given. But it's not implemented correctly and throws exception if you don't provide editor with a `FocusNode`.

## Steps to Reproduce

1. Create a `ZefyrField` or `ZefyrEditor` without setting `focusNode`
2. Run

## Logs

[code]

[2021-08-07 03:37] #522 closed

[2021-08-18 17:23] pulkit0795 commented on #484
Hey @AldanisVigo, do the error still exists?

[2021-08-30 07:21] jaysonss opened #528 "clipboard support in read mode"
## Steps to Reproduce

In Preview mode, TextSelection is not support.

## Logs

[code]

[✓] Flutter (Channel stable, 2.0.1, on macOS 11.5.2 20G95 darwin-x64, locale
    zh-Hans-CN)
    • Flutter version 2.0.1 at /Users/huangyumeng/flutter/sdk/flutter
    • Framework revision c5a4b4029c (6 months ago), 2021-03-04 09:47:48 -0800
    • Engine revision 40441def69
    • Dart version 2.12.0
    • Pub do

[2021-09-10 04:02] pulyaevskiy commented on #1
As an update my current thinking is to not include this feature in 1.0 as it has a large scope and we don't have a good plan to move forward yet. So maybe it's better to focus on for 2.0 (or 1.x if we can figure out how to make it a non-breaking change).

[2021-09-10 04:19] pulyaevskiy commented on #1
One approach to resolving this is to split the entire thing into 3 fairly independent sub tasks:

1. update notus document model to support arbitrary nesting without any logic around which blocks are allowed to be nested in which, max nesting level or anything like that. Basically just the mechanics of reflecting nesting metadata in the Delta and mirroring it in the document tree.
2. extend existi

[2021-09-10 04:25] pulyaevskiy commented on #23
Technically this has been implemented in ZefyrToolbar via several `hide***` constructor arguments. Closing this as resolved, but feel free to re-open if feel there is still something missing.

[2021-09-10 04:25] #23 closed

[2021-09-11 07:45] amantoux opened #530 "Selection handles are still visible when scrolled out of view port"
## Steps to Reproduce

1. Select some text
2. Scroll until text is not visible
3. Selection handles are displayed out of view port

<img width="469" alt="capture" src="https://user-images.githubusercontent.com/17318211/132940601-a90e1b4f-96ab-4b1b-9777-48fd8f01e955.png">

[2021-09-11 07:45] amantoux commented on #530
@pulyaevskiy I believe this should be added to 1.0 project

[2021-09-11 07:47] amantoux commented on #89
@pulyaevskiy can we descope this from 1.0 and maybe push it for 2.0?

[2021-09-11 16:33] amantoux opened #531 "Swapping handles when dragging a handle should be prevented"
When dragging the **end** handle above the **start** handle, the selection is lost or behaves unexpectedly.
In case where **start** (resp. **end**) handle is moved:

 - after (resp. before) the **end** (resp. **start**) handle on the same line, the selection should be reduced to the character before (resp. after) the other handle
 - after (resp. before) the **end** (resp. **start**) handle on some

[2021-09-12 08:06] amantoux commented on #531
@pulyaevskiy can we add this to 1.0

[2021-09-12 16:02] pulyaevskiy commented on #531
Added to the project.

[2021-09-17 12:59] #531 closed

[2021-09-19 23:24] nipunasudha commented on #426
Hope you all are safe during the pandemic. Any progress on this please? Looking forward to using some interactive embeds.

[2021-09-22 23:34] nipunasudha commented on #426
I think we can at least enable click events in readonly view? Wouldn't that be easier because there is no cursor competing for gestures?

[2021-09-23 04:12] Amir-P commented on #426
I don't think that would be possible. Caret's are being displayed and interactions are handled even in read-only mode for selection and copying. @nipunasudha

[2021-09-27 08:38] Amir-P opened #535 "Wrong offset for animating ScrollView"
## Steps to Reproduce
1. Set paragraph spacing to zero
2. Start typing and creating new lines to go out of current viewport of editor
3. ScrollView will constantly tries to overscroll

With default spacing:
![Sep-27-2021 12-05-58](https://user-images.githubusercontent.com/8766492/134873722-67aa7c84-843d-4476-975f-f0614a741a0e.gif)

With zero spacing:
![Sep-27-2021 12-07-05](https://user-images.git

[2021-09-29 13:22] nipunasudha commented on #426
To anyone who go through this thread, I ended up Using `Overlay()` widget to render overlayed content for the things that needs to be interactive. And it works really well!

[2021-09-30 07:40] hyungtaecf commented on #484
I'm getting this problem as well. I could not find the pattern. Sometimes it works, and sometimes I need to reload several times until it works.

[2021-09-30 07:45] pulkit0795 commented on #484
@hyungtaecf I configured it out!
For a temporary solution refer this -> [https://stackoverflow.com/a/68658277/13781490](https://stackoverflow.com/a/68658277/13781490)

[2021-10-05 10:34] nipunasudha commented on #530
I think the issue here is, Zefyr does not use its own `Overlay` widget for the selection handles & other overlays. Instead it uses the default `Overlay` in the navigator. To clip the handles inside the editor area, Zefyr should use its own one. Please correct me if I'm wrong.

[2021-10-05 10:40] nipunasudha commented on #426
Like I said I implemented it using `Overlay` widgets. For fixed size content this works amazingly well. But my embedded content has dynamic heights which depends on the the overlay itself! 😆 I'm trying my hardest but I can't figure out a stable way of sizing the Zefyr embedded widget according to the dynamic overlay height.

If someone has any idea to how to achieve that without hacky messaging ch

[2021-10-05 12:42] cgestes commented on #426
I dont remember the details, I will have another look at it, but this is
what I implemented to have click transmitted to embedded widget:
https://github.com/cgestes/zefyr/commit/667328e357cc5d00030035e73af309d3a0520be6

It probably goes with a few commits around it. I still didn't take the time
to clean it. But It was working.

On Tue, Oct 5, 2021, 12:40 W.H. Nipuna Sudharaka ***@***.***>
wrote:

[2021-10-05 14:44] Amir-P opened #538 "Zefyr is still catching long press events and displaying selection toolbar when enableInteractiveSelection is false"
## Steps to Reproduce

1. Create a ZefyrField or ZefyrEditor with `enableInteractiveSelection` set to `false`
2. Long press on a piece of text

This issue happens on both Android and iOS.

[2021-10-16 12:57] cgestes commented on #426
@pulyaevskiy any idea how to fix this todo?
https://github.com/memspace/zefyr/blob/e7433f78c2362d569d0c1af702543432efdf263d/packages/zefyr/lib/src/widgets/editor.dart#L394
This would help with changing the mouseCursor on links also. (We can specify them in the textspan)

[2021-10-16 23:49] cgestes commented on #426
@nipunasudha I suspect this is the proper fix: https://github.com/cgestes/zefyr/tree/hit-test-children

It is still work in progress and have some offset issues here and there, but would be happy to have feedback if it fixes the issue you had.

[2021-10-18 08:37] nipunasudha commented on #426
Amazing! I'll test the branch within a couple of days and provide you feedback. Thank you so much for your hard work.

[2021-10-19 09:29] nipunasudha commented on #305
It would be amazing if we can fix this. I'll mention this issue in the 1.0 milestone issue.

[2021-10-19 10:05] cgestes commented on #305
May be blocked by https://github.com/flutter/flutter/issues/23603

@nipunasudha do you have an idea of how to implement what you suggest?

[2021-10-20 03:49] #530 closed

[2021-10-20 16:32] cgestes commented on #426
this is most probably fixed by #543  (same branch, just linking the issue).

Happily waiting for your feedback on the subject :)

[2021-10-21 07:34] amantoux commented on #240
Yes duplicate of #88. Closing

[2021-10-27 14:08] FetFrumos opened #551 "NotusDocument to/from HTML with null safety"
thanks for the nice package. but my project goes to null safety. Zefyr/Notus already supports it. I using this [branch](https://github.com/memspace/zefyr/tree/1.0-dev). I also need transformation NotusDocument to/from HTML . I used to use the library [notustohtml](https://github.com/JacobWrenn/notustohtml).  But now this library is not developing, and there is no support for null safety. any advic

[2021-11-01 23:24] churchnotesapp commented on #551
@pulyaevskiy I'm interested in this as well - any update on these questions?

[2021-11-08 08:57] nipunasudha commented on #426
Migrated to zefyr, ported some zefyrka attributes into my fork. Now testing your PR. Will report back soon.

[2021-11-08 09:38] nipunasudha commented on #426
I tested it out and it works really well with 'text lines'. The interaction works well! Here is the experiment I did.

1. I modified the `defaultZefyrEmbedBuilder` to add a gesture detector at the end of the `hr` like this.

[code]
And both callbacks were fired correctly. Only if the long press callback given, default long press action on the `hr` is not fired, which is the desirable behavior.

2.

[2021-11-10 11:43] nipunasudha commented on #426
https://user-images.githubusercontent.com/17500323/141107130-172b7d04-6b13-4c51-b425-30d402dba81a.mov

[2021-11-12 09:37] cgestes commented on #426
Great. 👍. We will merge that for 1.0.
A lot of thanks goes to @pulyaevskiy for doing all the hard job of putting the architecture of the editor together.

[2021-11-13 05:59] Amir-P opened #552 "Weird behavior when removing and adding the same text by characters"
## Steps to Reproduce

1. Use the latest version on 1.0-dev with Flutter 2.5.3 (Stable) (Note: It's not happening on Flutter 2.2)
2. Write a text (e.g. "Test")
3. Remove the text (Remove by characters from the end)
4. Try to write the same text again
5. You can see that document is not being updated while you're typing until you reach the last character when the whole text will be added to the doc

[2021-11-13 08:15] Amir-P commented on #552
Seems like this issue is not happening on real devices and on simulators, it's only happening if you use physical keyboard not the keyboard on simulator. I'm not sure if this should be closed or not. WDYT? @pulyaevskiy

[2021-11-13 09:01] Amir-P opened #553 "Can't remove last character of text"
## Steps to Reproduce

1. Use Zefyr on a real device (iOS or Android)
2. Type a text
3. Try removing text by characters
4. The last character won't get removed on iOS on first try and instead it get's selected and you have to put cursor to in front of it and remove it again. On Android the same thing happens but with a difference: After a failed attempt to remove the character, If you try to remov

[2021-11-25 01:58] pulyaevskiy commented on #426
The hit test fix has been merged into 1.0-dev. Thanks @cgestes for finding and fixing it and @nipunasudha for verifying it works on your end.

Considering this done.

[2021-11-25 01:58] #426 closed

[2021-11-25 04:39] pulyaevskiy commented on #552
Thanks for reporting.

After a quick test it looks like the issue occurs when a character is deleted, the _sentRemoteValues list keeps growing, which should never happen. It practically should be empty most of the time.

I'll try to debug this a bit more to find the root cause.

[2021-11-26 06:19] pulyaevskiy commented on #88
Thanks @amantoux for adding support for iOS floating cursor. This is now available in 1.0-dev branch and will be release with the first 1.0-beta, coming soon.

Closing is resolved.

[2021-11-26 06:19] #88 closed

[2021-11-26 06:21] pulyaevskiy commented on #521
Please follow updates in the 1.0-dev branch. There is also plan to publish the first 1.0 beta release in the coming weeks.

[2021-11-26 06:21] #521 closed

[2021-11-26 06:28] pulyaevskiy commented on #111
I believe this should be addressed in `1.0-dev` branch. Closing.

[2021-11-26 06:28] #111 closed

[2021-11-26 06:30] pulyaevskiy commented on #150
This is now possible in `1.0-dev` branch. Please see the example app for a demo. Closing.

[2021-11-26 06:30] #150 closed

[2021-12-10 06:18] pulyaevskiy commented on #409
Thanks to the help the community and especially @Amir-P , @amantoux  and @cgestes we just released the first release candidate versions of both Notus and Zefyr packages:

https://pub.dev/packages/zefyr/versions/1.0.0-rc.1
https://pub.dev/packages/notus/versions/1.0.0-rc.1

Please refer to the changelog of both packages for more details. Note that 1.0.0-rc.1 already comes with support for Flutter 2

[2021-12-14 04:54] pulyaevskiy opened #567 "'package:notus/src/document/line.dart': Failed assertion: line 291 pos 14: 'nextLine != null': is not true."
Occurs on desktop when `DEL` is pressed at the end of the document (attempting to delete the last newline character).

[code]

[2021-12-14 04:56] pulyaevskiy opened #568 "Desktop: allow to extend selection with `Shift` + Click"
This is common functionality for all desktop platforms.

[2021-12-14 04:59] pulyaevskiy opened #569 "Heuristic rule: auto-format inline code surrounded by backticks"
Another Markdown QoL improvement to autoformat inline code when the second backtick ` is entered by the user.

[2021-12-14 05:02] pulyaevskiy opened #570 "Inserting horizontal rule should move cursor on the new empty line right after the embed"
Current behavior: the cursor stays in front of the embed, which is inconvenient when editing.

[2021-12-14 05:07] pulyaevskiy opened #571 "Code blocks: syntax highlighting"
Should be fairly straightforward especially there is already prior art to work with:

https://github.com/git-touch/highlight.dart

[2021-12-15 06:01] #567 closed

[2021-12-16 04:28] pulyaevskiy commented on #553
@Amir-P could you please verify if this is now resolved and close?

[2021-12-16 04:30] pulyaevskiy commented on #507
Please see `1.0-rc.*` releases on Pub for latest updates of Zefyr package.

https://pub.dev/packages/zefyr/versions/1.0.0-rc.1

[2021-12-16 04:30] #507 closed

[2021-12-16 04:30] pulyaevskiy commented on #508
Please see `1.0-rc.*` releases on Pub for latest updates of Zefyr package.

https://pub.dev/packages/zefyr/versions/1.0.0-rc.1

[2021-12-16 04:30] #508 closed

[2021-12-16 04:32] pulyaevskiy commented on #501
Zefyr `1.0-rc.1` depends on latest version of url_launcher. Please consider upgrading your project to work with this version.

[2021-12-16 04:32] #501 closed

[2021-12-16 04:33] pulyaevskiy commented on #491
Please see `1.0-rc.*` releases on Pub for latest updates of Zefyr package.

https://pub.dev/packages/zefyr/versions/1.0.0-rc.1

url_launcher dependency is now on latest.

[2021-12-16 04:33] #491 closed

[2021-12-16 05:23] pulyaevskiy commented on #480
This should be fixed by #563 and to be released as 1.0-rc.2 later this week.

[2021-12-16 05:23] #480 closed

[2021-12-19 02:43] pulyaevskiy commented on #568
Fixed by #577 .

[2021-12-19 02:43] #568 closed

[2021-12-19 02:44] pulyaevskiy commented on #552
Fixed by #563

[2021-12-19 02:44] #552 closed

[2021-12-19 02:45] pulyaevskiy commented on #505
Zefyr 1.0.0-rc.1 works with latest stable Flutter 2.8.

[2021-12-19 02:45] #505 closed

[2021-12-19 02:48] pulyaevskiy commented on #500
Closing as resolved.

[2021-12-19 02:48] #500 closed

[2021-12-19 02:48] pulyaevskiy commented on #500
Note that latest version of zefyr is `1.0.0-rc.1`

[2021-12-19 02:50] pulyaevskiy commented on #483
Please use zefyr 1.0.0-rc.1 which works with Flutter 2.8.

[2021-12-19 02:50] #483 closed

[2021-12-19 02:53] pulyaevskiy commented on #477
Dev builds are expected to have breaking changes, so yeah the fix was to remove the extra argument.

Please see zefyr `1.0.0-rc.1` for latest updates and fixes.

[2021-12-19 02:53] #477 closed

[2021-12-19 02:54] pulyaevskiy commented on #475
@Amir-P wondering if you can weigh in here? Specifically:

I believe this still needs to be addressed?

[2021-12-19 02:57] pulyaevskiy commented on #3
Removing this from 1.0. After some investigation current layout model would be really hard to extend to support this use case.

This would be something for 2.x, I think.

[2021-12-19 02:59] pulyaevskiy commented on #25
I'm going to close this one as I consider it out of scope for this package itself. Feel free to open a discussion (in Discussions) on this subject though.

[2021-12-19 02:59] #25 closed

[2021-12-19 03:03] pulyaevskiy commented on #61
I'll close this as duplicate of #475 . Zefyr `1.0.0-rc.1` provides better RTL support thanks to contributions from @Amir-P but there still seems to be things which need to be fixed. I'd encourage to leave a comment in #475 with everything that you believe is still missing.

[2021-12-19 03:03] #61 closed

[2021-12-19 03:05] pulyaevskiy commented on #48
Zefyr 1.0.0-rc.1 comes with keyboard shortcuts. I'm closing this issue as it's about generic support for keyboard. Please submit separate issues for any specific shortcuts you're missing.

[2021-12-19 03:05] #48 closed

[2021-12-19 03:07] pulyaevskiy commented on #89
I'm actually adding this back to 1.0 as implementation is almost complete in #579

[2021-12-19 03:08] pulyaevskiy commented on #100
ZefyrScaffold is no longer in zefyr `^1.0.0-rc.x` so I suppose this is not relevant anymore.

[2021-12-19 03:08] #100 closed

[2021-12-19 03:10] pulyaevskiy commented on #173
AFAIK, you can just use the software keyboard for (iOS, Android) to past any emojis, I believe zefyr renders them fine. Closing.

[2021-12-19 03:10] #173 closed

[2021-12-19 03:12] pulyaevskiy commented on #183
I believe this specific issue has been addressed in the `1.0.0` branch. Closing.

[2021-12-19 03:12] #183 closed

[2021-12-19 03:25] pulyaevskiy commented on #475
Actually, nevermind, just tested and it appears that the leading widget in lists does take into account Directionality now, thanks to @Amir-P work.

Closing.

[2021-12-19 03:25] #475 closed

[2021-12-19 04:12] pulyaevskiy commented on #187
I believe selection handles UX has been improved in `1.0.0-dev` branch and is now released in `1.0.0-rc.1`. Feel free to reopen and submit a new issue if there are still problems with selection handles.

[2021-12-19 04:12] #187 closed

[2021-12-19 04:19] pulyaevskiy commented on #196
Cursor has been reworked in 1.0.0-dev branch appears correct:

![image](https://user-images.githubusercontent.com/441756/146663699-3ade93ef-5b30-4712-b300-a8980497f464.png)

Please see latest release `1.0.0-rc.1` on Pub.

[2021-12-19 04:19] #196 closed

[2021-12-19 04:53] pulyaevskiy commented on #89
Merged and released in zefyr `1.0.0-rc.2`.

[2021-12-19 04:53] #89 closed

[2021-12-19 04:55] pulyaevskiy commented on #409
Zefyr `1.0.0.-rc.2` is out: https://pub.dev/packages/zefyr/versions/1.0.0-rc.2

## 1.0.0-rc.2

* Inline code improvements: added backgroundColor, radius and style overrides for headings to
  inline code theme ([#573](https://github.com/memspace/zefyr/pull/573))
* Fixed: Inserting horizontal rule moves cursor on the next line after it ([#576](https://github.com/memspace/zefyr/pull/576))
* Added `Sh

[2021-12-19 16:05] Amir-P commented on #553
It's fixed now. @pulyaevskiy

[2021-12-19 16:05] #553 closed

[2021-12-20 01:44] #570 closed

[2021-12-20 01:44] pulyaevskiy commented on #570
This was resolved in 1.0.0-rc.2

[2021-12-20 07:06] pulyaevskiy commented on #457
Sounds like this is not specific to Zefyr itself. Closing.

[2021-12-20 07:06] #457 closed

[2021-12-20 07:08] pulyaevskiy commented on #455
Yes, notus attributes are only meant to be defined internally in notus package, you'd have to fork the repo to add yours.

[2021-12-20 07:08] #455 closed

[2021-12-21 03:05] pulyaevskiy commented on #433
I think the backspace issue should be mostly addressed in the latest 1.0.0-rc release. Need to check the styling piece.

[2021-12-21 06:41] #217 closed

[2021-12-21 06:41] pulyaevskiy commented on #217
Pretty sure this has been addressed, closing.

[2021-12-21 06:42] #245 closed

[2021-12-21 06:43] pulyaevskiy commented on #245
Zefyr now runs on web, though not entirely stable. Closing this one but feel free to report any web related issues.

[2021-12-21 06:44] #247 closed

[2021-12-21 06:45] pulyaevskiy commented on #247
Added in 1.0.0-rc.2 thanks go to @Amir-P .

[2021-12-21 06:45] #212 closed

[2021-12-21 06:46] pulyaevskiy commented on #212
This was added in 1.0.0 dev builds, thanks @Amir-P . Closing.

[2021-12-21 06:52] pulyaevskiy commented on #262
This is now possible in 1.0.0 branch of releases. Closing.

[2021-12-21 06:52] #262 closed

[2021-12-21 06:55] pulyaevskiy commented on #180
I believe there is a fork of Zefyr which works with Quill.js format, so I think we can close this for now.

[2021-12-21 06:55] #180 closed

[2021-12-21 07:01] pulyaevskiy commented on #276
I wasn't able to reproduce this, closing for now, please post here if the issue reoccurs.

[2021-12-21 07:01] #276 closed

[2021-12-21 07:04] pulyaevskiy commented on #292
In 1.0.0-rc.2 we have much better selection rendering, thanks mostly to Flutter itself, but also some internal fixes as well. Closing.

[2021-12-21 07:04] #292 closed

[2021-12-21 07:05] #327 closed

[2021-12-21 22:24] adrian-moisa commented on #478
I'm one of the people using flutter for web. I've been working with react and angular for the past 8 years.

For me:

- Reason 1: I'm building a web app that I want to deploy on all possible platforms. I've starting coding from the web platform first. So far I've managed to tick most of the boxes that interest me. I'm building a fully adaptive layout that can handle narrow screens as mobiles (incl

[2021-12-23 07:11] taojoe opened #582 "toolbar missing when click "Normal text""
when running the example,  click change font, the toolbar disappeared.

![image](https://user-images.githubusercontent.com/545656/147202013-e5ea253c-309d-4527-a28a-6372830ee768.png)

## Steps to Reproduce

1. clone the source code
2. run example under macos
3. switch to "Decorated field"
4. click the  "Description" field, then click the "Normal text".

## Logs

[code]

[code]

[2021-12-23 07:13] taojoe commented on #409
#582 is related to 1.0.0-rc.2

[2021-12-23 18:52] pulyaevskiy commented on #582
Thanks for reporting, this is indeed an issue.

Right now toolbar is only shown when the editor has keyboard focus. I'm wondering if this is even needed. Basically we can just always show the toolbar, which maybe even a bit better UX.

[2021-12-23 21:01] pulyaevskiy commented on #409
Zefyr `1.0.0.-rc.3` is out: https://pub.dev/packages/zefyr/versions/1.0.0-rc.3

## 1.0.0-rc.3

* Added keyboard shortcuts for bold, italic and underline styles. ([#580](https://github.com/memspace/zefyr/pull/580))
* Launch URL improvements: allow launching links in editing mode ([#581](https://github.com/memspace/zefyr/pull/581))
  - For desktop platforms: links launch on `Cmd` + `Click` (macOS) o

[2021-12-27 09:55] taojoe opened #583 "inner list support required."
the editor should support inner list.
please see the quill editor on the  website <https://quilljs.com/docs/formats>

![image](https://user-images.githubusercontent.com/545656/147459955-a56c349b-5271-49bf-ac11-657e81eec52b.png)

## Steps to Reproduce

1. clone repo
2. run example
3. keyboard "tab" switches focus to another widget, not indent list item.

## Logs

[code]

[code]

[2021-12-27 10:45] Amir-P commented on #583
It's a work in progress and you can test it by cloning from it's PR (#564) origin. @taojoe
I think I will get it ready to get merged by the end of this week. @pulyaevskiy

[2021-12-27 10:56] taojoe commented on #409
#583 please consider supporting nested list(inner list) .

[2021-12-28 01:05] taojoe commented on #583
@Amir-P Thanks, that's great. I'll wait for it.

[2021-12-28 12:05] taojoe commented on #409
@pulyaevskiy I noticed the comment for "SpanEmbed",  and I see the editor on quilljs can embed latex inline, does this means "the contract" is settled by quilljs? and the "SpanEmbed" can be supported?

https://quilljs.com/docs/formats

[code]

![image](https://user-images.githubusercontent.com/545656/147564370-3c7ae680-43f2-4bfe-b1fc-1099017111d1.png)

[2021-12-28 15:21] cgestes commented on #409
On Tue, Dec 28, 2021, 14:05 周向涛 ***@***.***> wrote:

It means that you need to implements embeds for span. It is currently only
implemented for blocks. (Full line).
Btw Zefyr doesn't strictly follow quilljs formats. It only use the delta
format in a similar way.

https://quilljs.com/docs/formats

[2021-12-29 01:31] taojoe commented on #409
at zefyr/packages/zefyr/lib/src/widgets/text_line.dart line 122, I think it is restricted the way to build a WidgetSpan as an inline embed, is that correct?

[code]

[2021-12-29 01:44] taojoe commented on #409
and I modified the code a little, try to make an inline embed widget, it worked. the red frame is where the modify is.
maybe, change function "_segmentToTextSpan" to build inline embed to WidgetSpan will enable inline embed?

![image](https://user-images.githubusercontent.com/545656/147619498-fd79dad4-cd37-44a5-93f0-bd5947283909.png)

![image](https://user-images.githubusercontent.com/545656/14761

[2021-12-29 10:58] taojoe opened #584 "Chinese input method with word candidate box the wrong place and typing characters recognized the wrong way."
## Steps to Reproduce

1. clone the repo
2. run example
3. switch to "Decorated Field"
4. click "title" field, and switch to Chinese Input Method,  type in "zhongwen", we can see screenshot "default TextField", this is the right interaction between input and Chinese input method.
5. click "Description", and type enter key several times, then switch to Chinese Input Method, type in "zhongwen"，we ca

[2021-12-29 11:03] taojoe commented on #409
#584 is related to Chinese input method, I think Japanese input method will have the same issue.

[2021-12-30 10:55] taojoe opened #586 "can ZefyrController provide a reset method, which reset to a new delta and clear old changes?"
I currently build an editor, which may reload the content, at same time i need to add Listener to controller, so I can count special element synchronous.

So can ZefyrController provider a method with the following signature?

[code]

[2021-12-31 23:30] pulyaevskiy opened #587 "Exception when moving caret to end of line using physical keyboard (Cmd+Right)"
Only occurs when the caret is 1 character away from the end of last line in a document.

[code]

[2022-01-04 19:50] egnimos opened #588 "How to add image picker"
Iam using the zefyr , version^1.0.0-rc.4

As I want to add the image picker feature in the editor, But Iam not getting any example of, how to add the image picker support
in the zefyr editor

please help me in this

[2022-01-04 20:03] thunderrous commented on #409
I'm following the development of this. I want to make a more complicated note taking app.

Many thanks for not making me make something like this. :D

[2022-01-05 03:17] britannio commented on #433
@pulyaevskiy The exception still occurs in v 1.0.0-rc.4
[code]

[2022-01-05 22:56] britannio opened #589 "Text loss with some Android keyboards"
## Steps to Reproduce

1. Download the Typewise keyboard on Android
2. Enter some text
3. Delete each character slowly, then restore each one. This works as expected
4. Delete a group of characters quickly, then restore each one. Some characters are lost, others are duplicated.

Example: https://photos.app.goo.gl/nSfXogKvZTRkzz7TA

I can't remember which Flutter version this issue was introduced i

[2022-01-05 23:07] britannio commented on #589
It's worth noting that Flutter's TextField does behave correctly with the Typewise keyboard.

[2022-01-11 05:52] mohammedX6 opened #590 "showing list after writing "@""
Thanks for this awesome library, I was wondering if mentioning people after writing "@" like in emails apps (see below picture) is supported ?
Or do I need to write a custom implementation?

![191df12c-49a6-4987-83c6-f9f49629dfba](https://user-images.githubusercontent.com/24648104/148888554-256ae1be-1282-48b6-933d-7cd820a545a9.png)

[2022-01-11 05:54] singerdmx commented on #590
https://github.com/memspace/zefyr/pull/447/files

[2022-01-12 09:34] mohammedX6 commented on #590
Thank you very much

[2022-01-12 10:49] mohammedX6 commented on #590
@singerdmx i check out the branch it's seems deleted.

[2022-01-20 20:56] Amir-P commented on #590
Check #594 @mohammedX6

[2022-01-20 20:58] Amir-P commented on #583
You can test indentation and inner list from #593 . Hope @pulyaevskiy  finds the time to review it. @taojoe

[2022-01-21 20:05] InAnadea opened #595 "How to add image?"
## Steps to Reproduce

1. Add image tag to html
2. Decode html to Notus document
3. Set document in controller

Initial html:
[code]

Full sample code:
[code]
══╡ EXCEPTION CAUGHT BY WIDGETS LIBRARY
╞═══════════════════════════════════════════════════════════
The following assertion was thrown building TextLine(dirty, dependencies:
[_ZefyrPressedKeysAccess],
state: _TextLineState#bee03):
'package:

[2022-01-24 15:14] newengine opened #596 "Error: The getter 'textEditingActionTarget' isn't defined for the class '_ToggleInlineStyleAction'."
## Steps to Reproduce

flutter ios build failed with above error

1. flutter version    2.10.0-0.2.pre
2. ios build
3. ...

## Logs

[code]

[code]

[2022-01-25 06:36] Amir-P commented on #596
Currently we're only supporting Flutter's stable channel. We will fix this after it landed on stable. Until then please consider using stable channel. @newengine

[2022-01-25 14:02] atul-chaudhary opened #597 "Dynamically Scroll to a particular heading in zefyr TextEditor."
I have a very large document [multiple text paragraph with multiple heading], So with on-click of a button, I want to dynamically scroll to a particular text or heading in the document.

Is that possible in zefyr, I know there is a scroll controller that can be used to implement such functionality, But real problem is how do i find the location of the text or position so that those positions or of

[2022-01-27 15:06] britannio commented on #589
@pulyaevskiy Is there anything I can do to accelerate the fix for this? Also, I suspect that there are a select few Flutter maintainers responsible for the breaking changes to the editing API that have more context behind the issue. Maybe we can figure out who to contact?

[2022-01-28 22:41] cgestes commented on #589
Hi,

Is this applied to the version of Zefyr you use: https://github.com/memspace/zefyr/pull/563

[2022-01-29 15:32] britannio commented on #589
Yes and reverting didn't fix it.
`git revert b540c8296b48b9fa978df90cba2599ef3d5fee8c -m 1`

In fact, the issue is present in https://github.com/memspace/zefyr/commit/d9c3443297d378b2bba798bce4d975314d856e24 and possibly further back.

[2022-01-29 19:37] cgestes commented on #589
Oh ok. Thanks for the investigation.

On Sat, Jan 29, 2022, 16:32 Britannio Jarrett ***@***.***>
wrote:

[2022-02-02 15:12] Patrick386 commented on #409
Zefyr1.0  When can I use this?

[2022-02-05 07:56] xinyuezhang0402 opened #599 "Flutter 2.10 upgrade copy/cut/paste not working"
## Steps to Reproduce
Long press does not bring up toolbar
Also cut/copy does not do anything

[code]

[2022-02-11 14:40] JalorOo opened #600 "The word selection always in bottom or some strange place when input chinese"
When use the latest zefyr version(1.0.0-rc.5)

## Steps to Reproduce

1. just change keyboard to input chinese
2. input something

![](https://i.bmp.ovh/imgs/2022/02/bc21e3c247dfdf01.png)

you can see the word selection is not bellow the cursor. but in normal the word selection should under the cursor, like the picture as follow:

![](https://s3.bmp.ovh/imgs/2022/02/9ae7a8ac37f4c503.png)

[✓] Flut

[2022-02-12 00:33] JalorOo commented on #584
I found this bug too

[2022-02-12 00:40] JalorOo commented on #584
have you found a solution？

[2022-03-01 05:21] taojoe opened #603 "Feature request: ZefyrEmbedBuilder add ZefyrController parameter"
make ZefyrEmbedBuilder add ZefyrController as third parameter,  so the embed builder can change itself by controller.

it's required when building a image cropper or image resizer.

[code]

[2022-03-01 09:26] cgestes commented on #603
Hi,

not sure what's the official reason for the API.

Just in case you can do something along those lines:

[code]

[2022-03-02 00:59] ezercohen commented on #28
I couldn't find a solution here. What seems to work for me is:
`jsonEncode(doc.toJson())` when saving
and `ZefyrController(NotusDocument.fromJson(jsonDecode(JSONFromDB)))` when loading

[2022-03-02 07:25] #603 closed

[2022-03-04 08:03] taojoe commented on #584
I have no solution for this. I think it's related to the keyboard event. TextField has no problem, so the difference of handling keyboard event between TextField and Zefyr is the key.

[2022-03-09 16:52] jing-pei commented on #584
need to call `_textInputConnection!.setComposingRect`

[code]

[2022-03-10 17:45] mnts opened #604 "Almost all controls in toolbar gone"
this is part of my code

  @override
  void initState() {
    super.initState();
    _ctrl = TextEditingController();
    _controller = ZefyrController();
    load();
    _controller.addListener(_print);
  }

  @override
  void dispose() {
    _ctrl.dispose();
    super.dispose();
  }

  save() {}

  late final ZefyrController _controller;
  final FocusNode _focusNode = FocusNode();

  load() {

[2022-03-10 19:48] #604 closed

[2022-03-12 13:12] JalorOo commented on #584
@jing-pei hi, thanks for your share, but i had any question, can you tell me which file to put these code, and which Zefyr version you fix, it priveledge for me to hearing from you.

[2022-04-26 13:35] abdulkhira1 opened #605 "Detection of keypress"
We are unable to detect the backspace using Zefyr editor any leads would be helpful.

[2022-04-26 13:36] abdulkhira1 opened #606 "Feature request: Removal of word as a whole"
We are unable to remove links on a single key backpress.

[2022-05-17 17:49] meg4cyberc4t commented on #409
How are you guys? is work going on?

[2022-05-17 17:54] meg4cyberc4t opened #607 "Try correcting the name to the name of an existing setter, or defining a setter or field named 'textEditingValue'."
## Steps to Reproduce

I am a trial dev version v1.0.0 in flutter 3.0.0. At startup, the library crashes, as they removed the necessary setter

## Logs

[code]

[code]

[2022-05-24 19:00] aleripe commented on #409
It's definitely dead, I suppose...

[2022-05-27 13:38] cgestes commented on #409
not much happening sadly.

I may have the fixes you need here: https://github.com/jotshq/zefyr

[2022-06-27 00:22] edwin-alvarez commented on #409
@cgestes , how do I activate your branch Im trying to migrate from a very old flutter version, and Im having some issues due to missing physics, ZefyrScaffold, ZefyrView

[2022-07-17 16:32] cracked2626 commented on #409
Hey , got any solution?

[2022-07-17 19:55] Amir-P commented on #409
Hey, you can use Fleather for now. It's a fork me and @amantoux working on. https://github.com/fleather-editor/fleather

[2022-11-14 02:47] mxismean commented on #270
😯😯😯

[2022-11-14 02:49] mxismean commented on #270
thank you 🙏

[2022-11-14 02:49] #270 closed

[2022-11-27 01:48] AndyEverLie commented on #505
Fk You Immediately 😅
For Your Information